defaults/flow.json
[{"id":"9db53f23.a36dd8","type":"tab","label":"Raspberry Pi IOT Flows"},{"id":"409a1f5a.7f033","type":"tab","label":"WCS Flow"},{"id":"d62eb89e.14e69","type":"dashDB","z":"","hostname":"dashdb-entry-yp-dal09-08.services.dal.bluemix.net","db":"BLUDB","port":"50000","name":"DashDB-STSA"},{"id":"1ed9ef64.505b61","type":"ibmiot","z":"","name":"TinyPi","keepalive":"60","domain":"","cleansession":true,"appId":"","shared":false},{"id":"fae201ae.5e5a6","type":"ibmiot in","z":"9db53f23.a36dd8","authentication":"apiKey","apiKey":"1ed9ef64.505b61","inputType":"evt","deviceId":"","applicationId":"","deviceType":"","eventType":"environment","commandType":"","format":"json","name":"IOT : environment","service":"registered","allDevices":true,"allApplications":"","allDeviceTypes":true,"allEvents":false,"allCommands":"","allFormats":false,"qos":0,"x":110,"y":80,"wires":[["78c34117.c71da8","e98d332a.4861b8"]]},{"id":"e98d332a.4861b8","type":"debug","z":"9db53f23.a36dd8","name":"debug : sensor data","active":false,"console":"false","complete":"true","x":380,"y":140,"wires":[]},{"id":"78c34117.c71da8","type":"function","z":"9db53f23.a36dd8","name":"format : environment data for DB","func":"// Format Sensor Data for dashDB\nmsg.payload = {\n    SENSORID : msg.deviceId,\n    TEMPERATURE : msg.payload.d.temperature,\n    HUMIDITY : msg.payload.d.humidity,\n    PRESSURE : msg.payload.d.pressure,\n    TIMESENT : 'TIMESTAMP'\n};\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":80,"wires":[["f56b19f6.cde1e","391f80e8.515d4"]]},{"id":"f56b19f6.cde1e","type":"debug","z":"9db53f23.a36dd8","name":"debug : dashDB data","active":false,"console":"false","complete":"payload","x":720,"y":140,"wires":[]},{"id":"391f80e8.515d4","type":"dashDB out","z":"9db53f23.a36dd8","dashDB":"d62eb89e.14e69","service":"_ext_","table":"SENSEDATA","name":"dashDB","x":680,"y":80,"wires":[]},{"id":"48d516f5.b3efe8","type":"comment","z":"9db53f23.a36dd8","name":"Receive IOT events from Sense Hat","info":"","x":160,"y":40,"wires":[]},{"id":"dbb5de91.62ce3","type":"ibmiot in","z":"9db53f23.a36dd8","authentication":"boundService","apiKey":"","inputType":"evt","deviceId":"","applicationId":"","deviceType":"","eventType":"motion","commandType":"","format":"json","name":"IOT : motion","service":"registered","allDevices":true,"allApplications":"","allDeviceTypes":true,"allEvents":false,"allCommands":"","allFormats":"","qos":0,"x":90,"y":140,"wires":[["e98d332a.4861b8"]]},{"id":"89df06f.a273cf8","type":"ibmiot in","z":"9db53f23.a36dd8","authentication":"boundService","apiKey":"","inputType":"evt","deviceId":"","applicationId":"","deviceType":"+","eventType":"joystick","commandType":"","format":"json","name":"IOT : joystick","service":"registered","allDevices":true,"allApplications":"","allDeviceTypes":true,"allEvents":"","allCommands":"","allFormats":"","qos":0,"x":90,"y":200,"wires":[["e98d332a.4861b8"]]},{"id":"f1b90afe.d8941","type":"ibmiot out","z":"9db53f23.a36dd8","authentication":"boundService","apiKey":"","outputType":"cmd","deviceId":"TinySense","deviceType":"SenseHat","eventCommandType":"alarm","format":"json","data":"data","qos":0,"name":"IOT : alarm","service":"registered","x":690,"y":340,"wires":[]},{"id":"8ebfb4fe.52ea28","type":"inject","z":"9db53f23.a36dd8","name":"test : alarm","topic":"","payload":"blue","payloadType":"str","repeat":"","crontab":"","once":false,"x":100,"y":340,"wires":[["1e571349.b73fad"]]},{"id":"1e571349.b73fad","type":"function","z":"9db53f23.a36dd8","name":"format : alarm command","func":"// Expects a color name as a string in msg.payload\n// Outputs proper JSON object expected at the Raspberry Pi\nmsg.payload={d:{color:msg.payload}};\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":340,"wires":[["f1b90afe.d8941","fd6c31ce.34cc88"]]},{"id":"405a67b8.99e458","type":"inject","z":"9db53f23.a36dd8","name":"test : LED off","topic":"","payload":"off","payloadType":"str","repeat":"","crontab":"","once":false,"x":110,"y":380,"wires":[["1e571349.b73fad"]]},{"id":"fd6c31ce.34cc88","type":"debug","z":"9db53f23.a36dd8","name":"debug : IOT command","active":false,"console":"false","complete":"payload","x":720,"y":400,"wires":[]},{"id":"e233fa67.5e61c","type":"inject","z":"9db53f23.a36dd8","name":"test : message","topic":"","payload":"display this message","payloadType":"str","repeat":"","crontab":"","once":false,"x":120,"y":460,"wires":[["fbf74f62.429e6"]]},{"id":"fbf74f62.429e6","type":"function","z":"9db53f23.a36dd8","name":"format : message command","func":"msg.payload={d:{color:\"blue\",\n                background:\"black\",\n                message:msg.payload}};\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":460,"wires":[["afd08e04.7b177","fd6c31ce.34cc88"]]},{"id":"afd08e04.7b177","type":"ibmiot out","z":"9db53f23.a36dd8","authentication":"boundService","apiKey":"","outputType":"cmd","deviceId":"TinySense","deviceType":"SenseHat","eventCommandType":"message","format":"json","data":"data","qos":0,"name":"IOT : message","service":"registered","x":700,"y":460,"wires":[]},{"id":"8662a95b.981068","type":"comment","z":"9db53f23.a36dd8","name":"Send IOT commands to Sense Hat LED Matrix","info":"","x":200,"y":300,"wires":[]},{"id":"6be053b1.cbf5c4","type":"watson-conversation-v1","z":"409a1f5a.7f033","name":"STSA-CONV","workspaceid":"7bcaf7ff-2a7d-4a41-a58b-b4958275a943","multiuser":false,"context":true,"x":493.5,"y":345,"wires":[["d3d89471.079548","a4222da6.668e38"]]},{"id":"1115834a.941be5","type":"http in","z":"409a1f5a.7f033","name":"conv-api","url":"/v1/workspaces/voiceproxy/message","method":"post","swaggerDoc":"","x":211.5,"y":235,"wires":[["c4ab6490.df707","ece80381.366118"]]},{"id":"e84ab0e3.297978","type":"http response","z":"409a1f5a.7f033","name":"","x":1383.5,"y":564,"wires":[]},{"id":"d3d89471.079548","type":"debug","z":"409a1f5a.7f033","name":"Conv_resp","active":true,"console":"false","complete":"payload","x":620.5,"y":662,"wires":[]},{"id":"c4ab6490.df707","type":"function","z":"409a1f5a.7f033","name":"conv-format","func":"if(msg.payload.input){\n    if(msg.payload.input.text){\n        msg.payload = msg.payload.input.text;\n        \n    }else{\n        msg.payload = \"Hi\";\n    }\n}\nelse{\n    msg.payload = \"Hi\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":292.5,"y":441,"wires":[["6be053b1.cbf5c4","9eed8dde.6808f"]]},{"id":"9eed8dde.6808f","type":"debug","z":"409a1f5a.7f033","name":"Conv_input","active":true,"console":"false","complete":"payload","x":382.5,"y":725,"wires":[]},{"id":"9d161fd1.5172f","type":"switch","z":"409a1f5a.7f033","name":"Conversation Actions","property":"convdata.output.action","propertyType":"msg","rules":[{"t":"eq","v":"CurrentTempCelsius","vt":"str"},{"t":"eq","v":"CurrentTempFahrenheit","vt":"str"},{"t":"else"}],"checkall":"false","outputs":3,"x":731.5,"y":580,"wires":[["898687c.4510bf8"],["edef71d6.03ce2"],["e84ab0e3.297978"]]},{"id":"bd1c968f.65cbc8","type":"function","z":"409a1f5a.7f033","name":"CurrentTempCelsius","func":"txt = msg.convdata.output.text[0];\ntemp = msg.payload.TEMPERATURE;\nmsg.payload = msg.convdata;\nmsg.payload.output.text[0] =  txt + \" \" + temp;\nreturn msg;","outputs":1,"noerr":0,"x":1083.5,"y":321,"wires":[["e84ab0e3.297978","914416e2.ca368"]]},{"id":"c054b5af.a614d","type":"function","z":"409a1f5a.7f033","name":"CurrentTempFahrenheit","func":"txt = msg.convdata.output.text[0];\ntemp = msg.payload.TEMPERATURE;\ntempf = ((parseInt(temp, 10)*9)/5)+32;\nmsg.payload = msg.convdata;\nmsg.payload.output.text[0] =  txt + \" \" + tempf;\nreturn msg;","outputs":1,"noerr":0,"x":1088.5,"y":395,"wires":[["e84ab0e3.297978","914416e2.ca368"]]},{"id":"914416e2.ca368","type":"debug","z":"409a1f5a.7f033","name":"CurTemp","active":true,"console":"false","complete":"payload","x":1382.5,"y":266,"wires":[]},{"id":"898687c.4510bf8","type":"dashDB in","z":"409a1f5a.7f033","dashDB":"d62eb89e.14e69","service":"_ext_","query":"SELECT temperature, timesent FROM sensedata order by timesent desc fetch first 1 row only;","params":"","name":"Current Temp","x":952.5,"y":165,"wires":[["bd1c968f.65cbc8"]]},{"id":"a4222da6.668e38","type":"function","z":"409a1f5a.7f033","name":"after_WCS","func":"conv_data = {};\nconv_data = msg.payload;\nmsg.convdata = conv_data;\nreturn msg;","outputs":1,"noerr":0,"x":697.5,"y":356,"wires":[["9d161fd1.5172f"]]},{"id":"edef71d6.03ce2","type":"dashDB in","z":"409a1f5a.7f033","dashDB":"d62eb89e.14e69","service":"_ext_","query":"SELECT temperature, timesent FROM sensedata order by timesent desc fetch first 1 row only;","params":"","name":"Current Temp","x":1007.5,"y":483,"wires":[["c054b5af.a614d"]]},{"id":"ece80381.366118","type":"debug","z":"409a1f5a.7f033","name":"API-Call","active":true,"console":"false","complete":"payload","x":443.5,"y":170,"wires":[]}]
